body {
    font-family: Arial;
    background: #f5f5f5;
    text-align: center;
}

.container {
    margin-top: 100px;
}

input, textarea {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 250px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    background: #4CAF50;
    color: white;
    border: none;
}

button:hover {
    background: #45a049;
}
